.browser-signup-area {
  width: 100%;
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.browser-signup-area > div {
  margin-bottom: 12px;
}

.browser-signup-area .signup-header {
  /* background-color: #cccccc; */
  width: 100%;
  height: 160px;
  /* border-radius: 0 0 50% 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.browser-signup .signup-btn,
.signup-btn {
  width: 230px;
  padding: 8px 0;
}

.browser-signup .signup-btn {
  background: white;
}

.browser-signup .signup-btn {
  background-image: linear-gradient(to right, #ff845d, #fe3a12);
}

.browser-signup .signup-btn a {
  color: #d24021;
  font-weight: 600;
}

.browser-signup .signup-btn a {
  color: #fff;
  font-weight: 600;
}

.browser-social-signup {
  padding-top: 15px;
  text-align: center;
}

.fb-google-btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.fb-google-btn .fb {
  flex-grow: 1;
}
.fb-google-btn .google {
  flex-grow: 1;
}
.fb-google-btn > a {
  margin: 2px 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0px;
}

.fb-google-btn img {
  height: 16px;
  margin-top: -3px;
  margin-right: 6px;
}

.browser-social-signup p {
  margin-bottom: 0;
  font-size: 13px;
}

.browser-social-signup .fb {
  background: #4267b2;
  color: #ffffff;
}

.browser-social-signup .google {
  background: #ddd;
  color: #4081ed;
}

.browser-signup-box {
  width: 100%;
  height: 455px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.browser-form-control label {
  margin: 5px 0 0px 0;
}

.browser-form-control input {
  display: inline-block;
  width: 100%;
  border: none;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.text-left {
  float: right;
}

.link {
  font-size: 14px;
  color: #59818e;
  text-decoration: dotted !important;
}

.browser-signup-container {
  margin-top: 10px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.signupBtn {
  width: 100%;
  padding: 7px 0;
  background-image: linear-gradient(to right, #b2e6f3, #87c9e7);
  color: #fff;
  margin-top: 10px;
}
.btn.signupBtn:focus {
  opacity: 0.92;
}
.btn.signupBtn:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}
.signup-left-background {
  height: 455px;
  width: 430px;
  background-size: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/LoginFood.png");
  background-color: #f6f6f6;
}
.signup-form {
  padding: 30px 40px;
  width: 370px;
}
