.mobile-login-area {
  width: 100%;
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mobile-login-area > div {
  margin-bottom: 12px;
}

.mobile-login-area .login-header {
  background-image: url("/assets/images/login-signup.png");
  /* background-color: #cccccc; */
  width: 100%;
  height: 160px;
  /* border-radius: 0 0 50% 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.login-header .foodka-text {
  padding: 80px 74px 0 76px;
}

.login-header .foodka-text h1 {
  font-size: 35px;
  color: #00233f;
}

.login-header .foodka-text p {
  font-size: 11px;
  color: #00233f;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn a {
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-login .login-btn,
.signup-btn {
  width: 230px;
  padding: 8px 0;
}

.mobile-login .login-btn {
  background: white;
}

.mobile-login .signup-btn {
  background-image: linear-gradient(to right, #ff845d, #fe3a12);
}

.mobile-login .login-btn a {
  color: #d24021;
  font-weight: 600;
}

.mobile-login .signup-btn a {
  color: #fff;
  font-weight: 600;
}

.social-login {
  text-align: center;
}

.social-login .fb,
.google {
  width: 105px;
}

.fb-google-btn {
  display: flex;
}

.fb-google-btn > a {
  margin: 2px 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0px;
}

.fb-google-btn img {
  height: 16px;
  margin-top: -3px;
  margin-right: 6px;
}

.social-login p {
  margin-bottom: 0;
  font-size: 13px;
}

.social-login .fb {
  background: #4267b2;
  color: #ffffff;
}

.social-login .google {
  background: #ddd;
  color: #4081ed;
}

.login-box {
  width: 100%;
  height: 245px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.form-control label {
  margin: 5px 0 0px 0;
}

.form-control input {
  display: inline-block;
  width: 100%;
  border: none;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.text-left {
  float: right;
}

.link {
  font-size: 14px;
  color: #59818e;
  text-decoration: dotted !important;
}

.login-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.login {
  width: 100%;
  padding: 7px 0;
  background-image: linear-gradient(to right, #ff845d, #fe3a12);
  color: #fff;
}
