/* For All device */

/* Desktop PC */
.desktop-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #043604;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.desktop-header .header-logo {
  width: 70px;
  cursor: pointer;
}
.desktop-header .hamburger {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-header .auth {
  width: 200px;
  display: flex;
}

.desktop-header .auth .signin,
.signup {
  width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #ebc535;
}
.desktop-header .auth .signin:hover,
.signup:hover {
  font-weight: bold;
}
.desktop-header .auth .signin {
  border-right: 1px solid #244b25;
}
.desktop-searchArea {
  width: calc(100% - 340px);
  margin-bottom: 4px;
}

.desktop-searchArea input {
  padding: 0 0 0 10px;
  width: calc(100% - 40px);
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
  border: #fff;
  position: relative;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
}

.desktop-searchArea button {
  margin-left: 0;
  background-color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  top: 3px;
  left: -2px;
  position: relative;
  padding: 0;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mb-desktop-header {
  margin-bottom: 50px;
}

/* Responsive */

/* Mobile/Tab Devices */
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #fdd670;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mobile-header .hamburger,
.dots {
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchArea {
  width: calc(100% - 80px);
}

.searchArea input {
  padding: 0 0 0 10px;
  width: calc(100% - 40px);
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
  border: #fff;
  position: relative;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
}

.searchArea button {
  margin-left: 0;
  background-color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  top: 3px;
  left: -2px;
  position: relative;
  padding: 0;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mb-mobile-header {
  margin-bottom: 30px;
}
