/* For All device */

/* Desktop PC */

/* Responsive */

/* Mobile/Tab Devices */
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #fdd670;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mobile-header .hamburger,
.dots {
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.searchArea {
  width: calc(100% - 80px);
}

.searchArea input {
  padding: 0 0 0 10px;
  width: calc(100% - 40px);
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
  border: #fff;
  position: relative;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
}

.searchArea button {
  margin-left: 0;
  background-color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  top: 3px;
  left: -2px;
  position: relative;
  padding: 0;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mb-mobile-header {
  margin-bottom: 30px;
}