/* For All device */

/* Desktop PC */

/* Responsive */

/* Mobile/Tab Devices */
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #fdd670;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

.mobile-header .hamburger,
.dots {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 0;
}
.mobile-header .hamburger {
  left: 5px;
}

.mobile-header .dots {
  right: 10px;
}

.searchArea {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  box-sizing: border-box;
  float: left;
  position: relative;
  box-sizing: content-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.searchArea input {
  padding: 0 0 0 12px;
  width: calc(100% - 142px);
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
  border: #fff;
  position: relative;
  top: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.searchArea button {
  margin-left: 0;
  background-color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  top: 7px;
  left: -2px;
  position: relative;
  padding: 0;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* .searchForm {
    position: fixed;
    display: block;
    padding: 0 0 0 12px;
    width: 100%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
} */

/*
.mobile-header .hamburger svg, .dots svg{
  transition: 4s;
}

.searchBox {
  padding: 0 0 0 12px;
    width: 100%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    border: #fff;
    position: relative;
    top: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.searchBtn {
  margin-left: 0;
    background-color: #fff;
    font-size: 25px;
    width: 40px;
    padding: 0;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} */
