/* For All device */

/* Desktop PC */
.bottom-footer {
  background-color: #043604;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #fff;
  cursor: default;
}
.ourName {
  text-decoration: none !important;
  margin: 0px 5px;
  color: yellow;
}
.ourName:hover {
  font-weight: 500;
}
.browser-footer {
  cursor: default;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #244b25;
  -webkit-box-shadow: 0px -5px 12px 0px rgb(226, 220, 226);
  -moz-box-shadow: 0px -5px 12px 0px rgb(226, 220, 226);
  box-shadow: 0px -5px 12px 0px rgb(226, 220, 226);
}
.browser-footer h2 {
  color: #ebc535;
}
.browser-footer .footerSection1 {
  width: 50%;
  padding: 10px 20px;
}
.browser-footer .footerSection2 {
  width: 20%;
  padding: 10px 20px;
}
.com-info {
  color: #fff;
  padding-left: 5px;
  font-weight: 500;
}
.browser-footer .footerSection3 {
  width: 30%;
  padding: 10px 20px;
}
.footerSection1 div p {
  text-align: justify;
  color: #fff;
}
.footerSection2 div ul li {
  letter-spacing: 2px;
  list-style: none;
}
.footerSection2 div ul li:hover {
  font-weight: 500;
}
.footerSection2 div ul li a {
  color: #fff;
  text-decoration: none !important;
}
.footerSection2 div ul {
  padding-left: 5px !important;
}
/* Responsive */

/* Mobile/Tab Devices */
.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #fff;
  color: #59818e;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mobile-footer .mfooter-item a {
  color: #59818e;
  text-decoration: none;
}

.mobile-footer .mfooter-item {
  border-right: 1px solid #eee;
  width: 25%;
  text-align: center;
}

.mobile-footer .mfooter-item:hover {
  cursor: pointer;
}

.mobile-footer .mfooter-item-icon {
  display: inline-block;
  font-size: 28px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-footer .mfooter-item-title {
  font-size: 6px;
}
